{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
{{ question.update_hit|default_if_none:'' }}


{% if messages %}
<div class="alert alert-danger my-3" role="alert">
  {% for message in messages %}
  <strong>{{ message.tag }}</strong>
  <ul>
    <li>{{ message.message }}</li>
  </ul>
  {% endfor %}
</div>
{% endif %}

<div class="grid-container">

  <div class="item1">
    {{ question.subject }}
  </div>

  <div class="item1-1">
    {% if request.user == question.author %}
    <a href="{% url 'pybo:question_modify' question.id %}">Modify</a>
    <a href="{% url 'pybo:question_delete' question.id %}">Delete</a>

    {% endif %}


  </div>

  <div class="item2">

    <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
      {{question.voter.count}}

    </div>

    <a href="#" data-uri="{% url 'pybo:vote_question' question.id %}"
      class="recommend btn btn-sm btn-secondary btn-block my-1"><i class="fas fa-hand-point-up"></i>up</a>
  </div>
  <div class="item7">
    {% if question.modify_date %}
    <div>modified at {{ question.modify_date }}</div>
    {% endif %}
    <div>{{ question.author.username }}{{ question.create_date }}</div>
  </div>
  <div class="item3">
    <div>{{ question.content|mark }}</div>
  </div>
  <div class="item6">
    <a href="{% url 'pybo:comment_create_question' question.id %}">댓글 추가</a>
  </div>
  <div class="item5">
    {% if question.comment_set.count > 0 %}
    {% for comment in question.comment_set.all %}
    <a name="comment_{{ comment.id }}"></a>
    <div>{{ comment.content }}</div>
    <div>
      {{ comment.author }}, {{ comment.create_date }}
      {% if comment.modify_date %}
      (수정:{{ comment.modify_date }})
      {% endif %}

      {% if request.user == comment.author %}
      <a href="{% url 'pybo:comment_modify_question' comment.id %}">수정</a>,
      <a href="{% url 'pybo:comment_delete_question' comment.id %}">삭제</a>

      {% endif %}{% endfor %}
    </div>


    {% endif %}

    <!-- 
      {% if answer.comment_set.count > 0 %}

      {% for comment in answer.comment_set.all %}
      <a name="comment_{{ comment.id }}"></a>

      <span>{{ comment.content }}</span>
      <span>
        - {{ comment.author }}, {{ comment.create_date }}
        {% if comment.modify_date %}
        (수정:{{ comment.modify_date }})
        {% endif %}
      </span>
      {% if request.user == comment.author %}
      <a href="{% url 'pybo:comment_modify_answer' comment.id %}">수정</a>,
      <a href="{% url 'pybo:comment_delete_answer' comment.id %}"> 삭제</a>
      {% endif %}
      </div>
      {% endfor %} -->
    <div action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
      {% csrf_token %} {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field in form %} {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors }} {% endif %} {% endfor %}
      </div>
      {% endif %}
      <!-- <div class="form-group">
          <textarea name="content" id="content" class="form-control" {% if not user.is_authenticated %}disabled{% endif %}
            rows="10"></textarea>
        </div>
        <input type="submit" value="Answer" class="btn btn-primary">
      </form>
      </div>
      {% endif %} -->
      {% endblock %}
      {% comment %} <div>{{question.content}}</div>
      <h1>{{question.subject}}</h1>


      <h5>{{ question.answer_set.count }}개의 답변</h5>
      <div>
        <ol>
          {% for answer in question.answer_set.all %}
          <li>{{answer.content}}</li>
          {% endfor %}
        </ol>
      </div>

      {{ answer.content|mark }}
      {% if answer.modify_date %}

      <div>modified at</div>
      <div>{{ answer.modify_date }}</div>


      {% endif %}

      <div>{{answer.author.username }}</div>
      <div>{{ answer.create_date }}</div>


      {% for answer in question.answer_set.all %}
      <a name="answer_{{ answer.id }}"></a>

      {{ answer.voter.count }}

      <a href="#" data-uri="{% url 'pybo:vote_answer' answer.id %}"> up</a>

      {% if request.user == answer.author %}
      <div>
        <a href="{% url 'pybo:answer_modify' answer.id %}">Modify</a>
        <a href="{% url 'pybo:answer_delete' answer.id %}">Delete</a>
      </div>
      {% endif %}
      {% if answer.comment_set.count > 0 %}

      {% for comment in answer.comment_set.all %}
      <a name="comment_{{ comment.id }}"></a>
      <span>{{ comment.content }}</span>
      <span>
        - {{ comment.author }}, {{ comment.create_date }}
        {% if comment.modify_date %}
        (수정:{{ comment.modify_date }})
        {% endif %}
      </span>
      {% if request.user == comment.author %}
      <a href="{% url 'pybo:comment_modify_answer' comment.id %}" class="small">수정</a>,
      <a href="{% url 'pybo:comment_delete_answer' comment.id %}">
        삭제
      </a>
      {% endif %}

      {% endfor %}

      {% endif %}

      <div>
        <a href="{% url 'pybo:comment_create_answer' answer.id %}" class="small" position:right;><small>의견쓰기</small></a>
      </div>

      {% endfor %}

      <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
        {% csrf_token %} {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          {% for field in form %} {% if field.errors %}
          <strong>{{ field.label }}</strong>
          {{ field.errors }} {% endif %} {% endfor %}
        </div>
        {% endif %}

        {% comment %} <div>{{question.content}}</div>
        <h1>{{question.subject}}</h1>


        <h5>{{ question.answer_set.count }}개의 답변</h5>
        <div>
          <ol>
            {% for answer in question.answer_set.all %}
            <li>{{answer.content}}</li>
            {% endfor %}
          </ol>

        </div>
      </form>

      <!-- <form action="{% url 'pybo:answer_create' question.id %}" method="post">
          {% csrf_token %} {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            {% for field in form %} {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }} {% endif %} {% endfor %}
          </div>
          {% endif %}
          <textarea name="content" id="content" {% if not user.is_authenticated %}disabled{% endif %}
            row="30"></textarea>
          <input type="submit" value="Answer" />
        </form> {% endcomment %}

      </form> -->


      <div class="item10"> Next
      </div>
      <div class="item8">
      </div>
      <div class="item9">Previous
      </div>
    </div>
  </div>
</div>

{% block script %}
<script type='text/javascript'>
  $(document).ready(function () {
    $(".delete").on('click', function () {
      if (confirm("정말로 삭제하시겠습니까?")) {
        location.href = $(this).data('uri');
      }
    });
    $(".recommend").on('click', function () {
      if (confirm("추천 하시겠습니까?")) {
        location.href = $(this).data('uri');
      }
    });
  });
</script>
{% endblock %}