{% extends 'base.html' %} {% block content %}
<div class="contanier my-3">
  <h5 id="textform" class="my-3 border-bottom pb-2">글쓰기</h5>
  <form method="post" class="post-form my-3">
    {% csrf_token %} {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      {% for field in form %} {% if field.errors %}
      <strong>{{ field.label }}</strong>
      {{ field.errors }} {% endif %} {% endfor %}
    </div>
    {% endif %}
    <div class="form-group">
      <label for="subject"><h5 id="textform">제목</h5></label>
      <input type="text" id="textform" class="form-control" name="subject" id="subject" value="{{ form.subject.value|default_if_none:'' }}" />
    </div>
    <div class="form-group">
      <label for="content" ><h5 id="textform">내용</h5></label>
      <textarea id="answerform" class="form-control" name="content" id="content" rows="10">{{form.content.value|default_if_none:''}}</textarea>
    </div>

    <button type="submit" id="saveform" class="btn btn-outline-primary">저장</button>
  </form>
</div>
{% endblock %}