{% load static %} {% block content %}
<!DOCTYPE html>

<html leng="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0">
        <title>Archive</title>
        <link rel="stylesheet" type="text/css" href={%static "bootstrap.min.css"%} />
        <link rel="stylesheet" type="text/css" href={%static "style.css"%} />
        <style> 
            
        </style>
        <script src={%static "js/event_handler.js"%}></script>
        <script src={%static "js/darkmode.js"%}></script>
            
        
         <!-- <div style="padding: 20px;"></div> -->
        <!-- <div style="font-family: helvetica;font-size: 72px;">Archive</div> -->
    </head>
 
    <body style="overflow-x: hidden">
        <div class="circle"></div>
        <!-- 메뉴바를 두 부분으로 나누고 마우스를 올릴곳과 나타날 곳을 만들고 이 둘을 묶을 div를 만든다. -->
        <div class="container-fluid sticky-top" style="height: 50px;">
        <!-- <span class="makright2"><a href="https://www.naver.com/"><img src="home.png"></a></span> -->
        <div id="menu" style="margin-top:-10px; " class="makright">
            <!-- 마우스가 올라가는 부분 -->
            <div></div>
            <div id="slide" style=" font-size: 72px;color:red;padding-top: 30px;padding-bottom: 30px;font-family: 'Helvetica';">Menu</div>
            <!-- 처음엔 안보였다 나중에 보이는 부분 -->
            <div id="panel">
                <ul>
                    <li style="border-bottom:solid black 3px;font-size: 56px; padding-top: 20px;padding-bottom: 22px;">
                <a href="{% url 'user:home' %}" style="color: black;">Home</a>
                    </li>
                    <li style="border-bottom:solid black 3px;font-size: 56px; padding-top: 20px;padding-bottom: 22px;">
                <a href="{% url 'user:archive' %}" style="color: black;">Archive</a>    
                    </li>
                    <li style="border-bottom:solid black 3px;font-size: 56px; padding-top: 20px;padding-bottom: 22px;">
                <a href="{% url 'quiz:start' %}" style="color: black;">Game</a>
                    </li>
                    <li style="border-bottom:solid black 3px;font-size: 56px; padding-top: 20px;padding-bottom: 22px;">
                <a href="{% url 'pybo:index' %}" style="color: black;">Agora</a>
                    </li>
                    <li style="border-bottom:solid black 3px;font-size: 56px; padding-top: 20px;padding-bottom: 22px;">
                <a href="{% url 'user:login' %}" style="color: black;">Login</a>
                
                    </li>
                    <li style="border-bottom:solid black 3px; padding-top: 80%;padding-bottom: 80%;">
                        <div>

                        </div>
                        
                    </li>

                </ul>
            </div>
        </div>
        </div>
        <div style="font-family:'Helvetica';font-size: 72px;position:absolute;left:10px">Archive</div>
        <div class="container-fluid">
        <!-- <div style="text-align: center;"><img src="achieve.png"></div>
        <div style="text-align: center;">WHAT WE NEED TO RESERVE</div>
        <div style="text-align: center;">WHAT WE ACHIEVE</div> -->
        <div class="container mb-3"></div>
        
        <div></div>
        <!-- <div style="padding: 100px;"></div> -->
        </div>
        <!-- <div style="text-align: center;">해야하는 이유</div> -->
        <!-- <div><hr style="width:90%;" ></div> -->
        <!-- 하단바디 -->
        <div class="container-fluid"  >
        <div style="padding: 150px 0px;"></div>
        <!-- <marquee style="font-size: 20px; padding: 30px 0px; " scrolldelay="5"><div>왜 환경을 지켜야 하는가? 어떻게 에너지 절약을 할 수 있을까? </div></marquee> -->
        <!-- <marquee direction="right" style="font-size: 20px; padding: 30px 0px; "><div>우리 주변의 친환경 기술은 무엇일까? 환경을 지키기 위한 발전기술은?</div></marquee> -->
        <div style="text-align: center;"><img src={%static "img/message.png"%}></div>
        <div style="padding: 50px 0px;"></div>
        <h1 class="strip pic" style="width: 500px;height: 250px; margin:auto;left:50%;top:250px;background-image: url('/static/img/River.gif');background-size: cover;">
                대중들에게 자원과 에너지의<br>
                중요성을 알려<br>
                지구를 지키자
        </h1>
        <h2 class="strip pic" style="width: 200px;height: 100px; margin:auto;left:40%;top:400px;background:transparent;">
            에너지 효율<br>
            
            
        </h2>
        <div style="padding: 50px 0px;"></div>

        <!-- <div class="container mb-3" style="width: 90%; height: 400px;"></div> -->
        <div style="padding: 50px 0px;"></div>

        <!-- <div style="text-align: center;">인트로</div>
        <div><hr style="width:90%;" ></div> -->
        
        
        <div id="texts1" style=" left:17%; top:150px; " class="pic">
            
            
            <span id="slideright1" style="margin-right:0px"><img src={%static "img/atom.jpg"%} style="width:300px; height:250px"></span>
            
            <span id="panel1">
                <span class="container" >핵융합발전은 환경을 위해 꼭 구현해야 한다
                
             </span>
                    
               
                
        </span>
            
        </div>
        <div style="padding: 50px 0px;"></div>

        <div id="texts2" style=" left:55%; top:50px; " class="pic">
            
            
            <span id="slideright2" style="margin-right:0px"><img src={%static "img/Wind-Energy.gif"%} style="width: 300px;height: 250px;"></span>
            
            <span id="panel2">
                <span>풍력발전은 신재생에너지의 핵심</span>
            </span>
        </div>

        <div id="texts3" style=" left:10%; top:300px; " class="pic">
            
            
            <span id="slideright3" style="margin-right:0px"><img src={%static "img/Solar.gif"%} style="width: 300px;height: 250px;"></span>
            
            <span id="panel3">
                <span>태양광발전도 역시 신재생에너지의 핵심</span>
            </span>
        </div>

        <div id="texts4" style=" left:65%; top:400px; " class="pic">
            
            
            <span id="slideright4" style="margin-right:0px"><img src={%static "img/energy_save.jpg"%} style="width: 300px;height: 250px;"></span>
            
            <span id="panel4">
                <span>지구를 위해서 에너지절약은 필수</span>
            </span>
        </div>
        <div style="padding: 50px 0px"></div>
        <!-- <div style="text-align: center">에너지절약방법</div>
        <div><hr style="width:90%; size:10px" ></div> -->
        
        <div id="texts5" style=" left:75%; top:430px; " class="pic">
            
            
            <span id="slideright5" style="margin-right:0px"><img src={%static "img/notusing.jpg"%} style="width: 300px;height: 250px;"></span>
            
            <span id="panel5">
                <span>전구를 사용하지 않을 때는 되도록이면 소등</span>
            </span>
        </div>

        <fading>
            <hi >
            <span>e</span><span>x</span><span>c</span><span>e</span><span>s</span><span>s</span><span>i</span><span>v</span><span>e</span><span>&nbsp;</span><span>e</span><span>n</span><span>e</span><span>r</span><span>g</span><span>y</span><span>&nbsp;</span><span>c</span><span>o</span><span>n</span><span>s</span><span>u</span><span>m</span><span>p</span><span>t</span><span>i</span><span>o</span><span>n</span>
          </hi>
          </fading>


        <div id="texts6" style=" left:55%; top:380px; " class="pic">
            
            
            <span id="slideright6" style="margin-right:0px"><img src={%static "img/power-outlet.jpg"%} style="width: 300px;height: 250px;"></span>
            
            <span id="panel6">
                <span>사용하고 있지않는 전자기기는 코드를 뽑기</span>
            </span>
        </div>

        <div id="texts7" style=" left:45%; top:360px; " class="pic">
            
            
            <span id="slideright7" style="margin-right:0px"><img src={%static "img/car.jpg"%} style="width: 300px;height: 250px;"></span>
            
            <span id="panel7">
                <span>환경을 위해서 내연기관 대신에 전기차로 교체</span>
            </span>
        </div>

        <div id="texts8" style=" left:25%; top:500px; " class="pic">
            
            
            <span id="slideright8" style="margin-right:0px"><img src={%static "img/low_power_semi.jpg"%} style="width: 300px;height: 250px;"></span>
            
            <span id="panel8">
                <span>기업에서도 전력소모가 적은 반도체칩 적용</span>
            </span>
        </div>
        <!-- <div style="padding: 400px 0px"></div> -->
        <div id="texts9" style=" left:35%; top:560px; " class="pic">
            
            
            <span id="slideright9" style="margin-right:0px"><img src={%static "img/dam.jpg"%} style="width: 300px;height: 250px;"></span>
            
            <span id="panel9">
                <span>댐을 이용한 발전을 효과적으로</span>
            </span>
        </div>
        <div id="texts10" style=" left:45%; top:600px; " class="pic">
            
            
            <span id="slideright10" style="margin-right:0px"><img src={%static "img/soil.png"%} style="width: 300px;height: 250px;"></span>
            
            <span id="panel10">
                <span>토양은 우리 미래의 근간</span>
            </span>
        </div>
        <div id="texts11" style=" left:65%; top:630px; " class="pic">
            
            
            <span id="slideright11" style="margin-right:0px"><img src={%static "img/map.png"%} style="width: 300px;height: 250px;"></span>
            
            <span id="panel11">
                <span>지구를 위한 환경정책 로드맵</span>
            </span>
        </div>



        </div>
        
        <footer>
            
            <div>test by 301D</div>
            <input type="button" value="day" style=" position: relative;left: 95%;" onclick="day_night_handler(this)">

          </footer>
        <!-- 제이쿼리 가져옴 -->
        <script src={%static "js/common.js"%}></script>
        <script  src={%static "jquery-3.6.0.min.js"%}></script>
        <script src={%static "js/pannel.js"%}></script>
        <script src={%static "js/clk_message.js"%}> </script>
        <script src={%static "js/circle.js"%}></script>
    </body>
</html>

{% endblock %}